body{
  text-align: center;
  background-color: gray;
  font-size: 25px;
}

h1{
  color: blue;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px
}

h2{
  color: blue;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px
}

h3{
  color: blue;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px
}

h4{
  color: blue;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px
}
h5{
  color: blue;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px
}
